@charset "utf-8";
/* CSS Document */
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);
@font-face {
    font-family: "myFirstFont";
    src: url(ClementePDaa-Hairline.ttf);
    font-weight: bold;
}
body {
	margin: 0% 20%;
}
.embed-container { 
	position: relative;
	padding-bottom: 56.25%; 
	height: 0; 
	overflow: hidden; 
	max-width: 100%; 
} 
.embed-container iframe, .embed-container object, .embed-container embed { 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%;
}
h1 {
  font-family: "myFirstFont";
  font-size: 3vw;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
}
h2 {
	font-family: 'Montserrat';
	color:#0795FC;
	font-size: 2.3em;
	letter-spacing: 5px;
  	text-align: center;
  	text-transform: uppercase;
}

p {
  font-family: 'Shadows Into Light', cursive;  font-size: 2vw;
  line-height: 2.5vw;
  text-align: justify;
}
.container{
	margin:auto;
	margin-top:8vw;
}
img{
	height:100%;
}
