
           .container {
                    margin-left: auto;
                    margin-right: auto;
           }

           .bg-image {
	            background: #EEEDE5;
          }
           
           .spacing {
	            margin:0 20px;
           }
           
           .row {
	            margin:0 auto;
          }
           
           .container {
	            background: #ffffff;
	            box-shadow: 12px 0 10px -4px rgba(0,0,0,0.3), -12px 0 10px -4px rgba(0,0,0,0.3);
           }
           
           .box-display {
                  position:relative;
                  background-color: rgba(0, 0, 0, 0.2);
                  margin-top:20px;
                  height:210px;
                  max-width:360px;
                  background-repeat:no-repeat;
                  overflow:hidden;
                  box-shadow:  0px 1px 4px 4px rgba(0,0,0,0.40);
           }
           
           figure:hover figcaption {
                 -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
                 filter: alpha(opacity=75);
                 opacity: 0.75;
                 top: 5px;
                 height: 200px;
                 margin-right: 5.5px;
           }

           figcaption {
                  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0.6);
                  filter: alpha(opacity=0.6);
                  opacity: 0.6;
                  position: absolute;
                  z-index: 10;
                  height: 25px;
                  max-width: 350px;
                  margin-left: 5px;
                  margin-right: 5px;
                  top: 180px;
                  color: #ffffff;
                  background-color: #000000;
                  -webkit-transition: all .5s ease;
                  -moz-transition: all .5s ease;
                  -o-transition: all .5s ease;
                  -ms-transition: all .5s ease;
                  transition: all .5s ease;
            }

            figcaption h3 {
                  color: #ffffff;
                  opacity: 1;
                  padding: 3px;
                  margin-bottom: 0;
                  margin-top: 1px;
                  text-align: center;
                  position: relative;
                  font-size:medium;
                  font-family: 'Lato', Arial, sans-serif;
                  -webkit-transition: all .5s ease;
                  -moz-transition: all .5s ease;
                  -o-transition: all .5s ease;
                  -ms-transition: all .5s ease;
                  transition: all .5s ease;
            }

            figcaption p.description {
                  padding: 5px 20px;
                  margin-bottom: 5px;
                  margin-top: 1px;
                  color: #ffffff;
                  text-align: center;
                  position: relative;
                  left: 100%;
                  font-size: 13.5px;
                  -webkit-transition: all .5s ease;
                  -moz-transition: all .5s ease;
                  -o-transition: all .5s ease;
                  -ms-transition: all .5s ease;
                  transition: all .5s ease;
            }

            figure:hover h3{
                  left: 0;
                  margin-top: 10px;
                  font-weight: 400;
                  font-family: 'Lato', Arial, sans-serif;
                  color: #f3b204;
                  font-size: 30px;
            }

            figure:hover p.description {
                  left: 0;
            }

            figcaption a {
                  color: #2196F3;
                  border: 2px solid #2196F3;
                  padding: 4px 10px;
                  text-decoration: none;
            }

            figcaption a:hover {
                  color: #ffffff;
                  background: #2196F3;
                  cursor: pointer;
                  text-decoration: none;
            }
                       
            svg {
	              position: absolute;
	              top: 0;
	              left: 0;
            }
            
            svg line {
	             stroke-width: 5;
	             stroke: #045E83;
	             fill: none;
	             -webkit-transition: all .4s ease-in-out;
	             -moz-transition: all .4s ease-in-out;
                 -o-transition: all .4s ease-in-out;
                 -ms-transition: all .4s ease-in-out;
	             transition: all .4s ease-in-out;
            }
            
            .border:hover svg line {
	            stroke-width: 10;
	            stroke:#045E83;
	            -webkit-transition-delay: 0s;
	            -moz-transition-delay: 0s;
                -o-transition-delay: 0s;
                -ms-transition-delay: 0s;
	            transition-delay: 0s;
            }
            
            svg line.top,svg line.bottom {
  	              stroke-dasharray: 200%;   
	        }
                        
            svg line.left,svg line.right {
   	              stroke-dasharray: 210px 130px;
            }

            .border:hover svg line.left {
                 -webkit-transform: translateY(170px);
                 -moz-transform: translateY(170px);
                 -o-transform: translateY(170px);
                 -ms-transform: translateY(170px);
                 transform: translateY(170px);
            }

            .border:hover svg line.right {
                 -webkit-transform: translateY(-170px);
                 -moz-transform: translateY(-170px);
                 -o-transform: translateY(-170px);
                 -ms-transform: translateY(-170px);
                 transform: translateY(-170px);
            }
            
            .pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #ffffff;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

.pace .pace-progress-inner {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #ffffff, 0 0 5px #ffffff;
  opacity: 1.0;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -moz-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  -o-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

.pace .pace-activity {
  display: block;
  position: fixed;
  z-index: 2000;
  top: 15px;
  right: 15px;
  width: 14px;
  height: 14px;
  border: solid 2px transparent;
  border-top-color: #ffffff;
  border-left-color: #ffffff;
  border-radius: 10px;
  -webkit-animation: pace-spinner 400ms linear infinite;
  -moz-animation: pace-spinner 400ms linear infinite;
  -ms-animation: pace-spinner 400ms linear infinite;
  -o-animation: pace-spinner 400ms linear infinite;
  animation: pace-spinner 400ms linear infinite;
}

@-webkit-keyframes pace-spinner {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes pace-spinner {
  0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes pace-spinner {
  0% { -o-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes pace-spinner {
  0% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes pace-spinner {
  0% { transform: rotate(0deg); transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}